#classpath {
	color: red;
	height: 100px;
	border: solid black 15px;
	background: url(../img/pinguin.png) no-repeat;
}

#classpath ul {
	list-style: none;
	float: right;
}

#classpath ul li {
	background: url(image/adobe-reader.png) no-repeat;
	float: left;
	height: 40px;
	padding: 10px;
	border: solid green 4px;
}

#classpath .contextRelative {
	border: solid black 2px;
	height: 20px;
	background: url(/img/satellite.jpg)
}