@variables {
	mainBackground: blue;
	mainColor: #fff;
	mainBorder: solid black 2px; 
	contentHeight: 100px;
	alt1-background: yellow; 
	alt2-background: #de5500;
	alt3-background: url(../img/applications.png) repeat-x left top;
}
#variablesHolder {
  background: var(mainBackground);
  height: var(contentHeight);
	border: var(mainBorder);
}
#variablesHolder em {
	background: var(alt1-background);
	border: var(mainBorder);
}
#variablesHolder span {
  background: var(alt2-background);
	border: var(mainBorder);
	color: var(mainColor);
}
#variablesHolder p {
  background: var(alt3-background);
  border: var(mainBorder);
	font-weight: bold;
	font-size: 2em;
}