input.button {
  background: url(/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png);background: url(data:image/png;base64,iVBORw0KG);
  background-image: url("/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png");background-image: url("data:image/png;base64,iVBORw0KG");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png', sizingMethod='scale');filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='data:image/png;base64,iVBORw0KG', sizingMethod='scale');
}
.multilineAndSpaces {
  background: 
     url( "/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png " );background: 
     url( "data:image/png;base64,iVBORw0KG" );
  background-image : 
     url( "/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png " );background-image : 
     url( "data:image/png;base64,iVBORw0KG" )     
}
@font-face {
    src: url(/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png);src: url(data:image/png;base64,iVBORw0KG);
}