input.button {
  background: url(btn_icons.png);background: url(data:image/png;base64,iVBORw0KG);
  background-image: url("btn_icons.png");background-image: url("data:image/png;base64,iVBORw0KG");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='btn_icons.png', sizingMethod='scale');filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='data:image/png;base64,iVBORw0KG', sizingMethod='scale');  
}
.multilineAndSpaces {
  background: 
     url( "btn_icons.png " );background: 
     url( "data:image/png;base64,iVBORw0KG" );
  background-image : 
     url( "btn_icons.png " );background-image : 
     url( "data:image/png;base64,iVBORw0KG" )     
}
@font-face {
    src: url(btn_icons.png);src: url(data:image/png;base64,iVBORw0KG);
}