<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <display-name>WebResourceOptimizer Test Project</display-name>

	<listener>
	  <listener-class>ro.isdc.wro.examples.guice.WroGuiceListener</listener-class>
	</listener>
	
	<filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Web Resource Optimizer filter and listener
  <filter>
    <filter-name>WebResourceOptimizer</filter-name>
    <filter-class>
      ro.isdc.wro.http.WroFilter
    </filter-class>
  </filter>
  <filter-mapping>
    <filter-name>WebResourceOptimizer</filter-name> 
    <url-pattern>/wro/*</url-pattern>
    <dispatcher>FORWARD</dispatcher> 
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
  </filter-mapping>
   -->

  <servlet>
    <servlet-name>resource.dynamic</servlet-name>
    <servlet-class>ro.isdc.wro.examples.http.DynamicResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>resource.redirect</servlet-name>
    <servlet-class>ro.isdc.wro.examples.http.RedirectResourceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>resource.dispatch</servlet-name>
    <servlet-class>ro.isdc.wro.examples.http.DispatchResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>resource.dynamic</servlet-name>
    <url-pattern>/resource/dynamic.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resource.redirect</servlet-name>
    <url-pattern>/resource/redirect.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>resource.dispatch</servlet-name>
    <url-pattern>/resource/dispatch.js</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>externalResource</servlet-name>
    <servlet-class>ro.isdc.wro.examples.ExternalResourceServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>externalResource</servlet-name>
    <url-pattern>/external/*</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

</web-app> 
