#someId {
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=(100));
  filter: alpha(opacity = (100));
  /*This one is used only to test that btoa() function computes correctly*/

  top: MTIzNA==;
}