(function() { var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};templates['todoApp'] = template(function (Handlebars,depth0,helpers,partials,data) {
  helpers = helpers || Handlebars.helpers; data = data || {};
  


  return "<h1>Todos</h1>\n\n<div class=\"row-fluid\">\n  <input type=\"text\" id=\"add-todo\" placeholder=\"What do you need to do?\" />\n</div>\n<div class=\"row-fluid\">\n  <div class=\"row-fluid span5\">\n    <input type=\"checkbox\" id=\"mark-all\" /><label for=\"mark-all\"\n      class=\"span4\"><strong>Mark all as complete</strong></label>\n  </div>\n\n  <ul id=\"todo-list\"></ul>\n\n  <div id=\"todo-status\" class=\"row-fluid\"></div>\n</div>";} ); })();