(function() { var template = Handlebars.template, templates = Handlebars.templates = Handlebars.templates || {};templates['todoStatus'] = template({"compiler":[5,">= 2.0.0"],"main":function(depth0,helpers,partials,data) {
  var stack1, helper, functionType="function", escapeExpression=this.escapeExpression, buffer = "<div class=\"row-fluid span5\">\n  <strong>"
    + escapeExpression(((helper = helpers.remaining || (depth0 && depth0.remaining)),(typeof helper === functionType ? helper.call(depth0, {"name":"remaining","hash":{},"data":data}) : helper)))
    + "</strong> items left.\n  <button id=\"remove-finished\" class=\"btn btn-inverse\">\n    <i class=\"icon-ban-circle icon-white\"></i> Clear <strong>"
    + escapeExpression(((helper = helpers.finished || (depth0 && depth0.finished)),(typeof helper === functionType ? helper.call(depth0, {"name":"finished","hash":{},"data":data}) : helper)))
    + "</strong> completed item";
  stack1 = helpers.unless.call(depth0, (depth0 && depth0.oneFinished), {"name":"unless","hash":{},"fn":this.program(1, data),"inverse":this.noop,"data":data});
  if(stack1 || stack1 === 0) { buffer += stack1; }
  return buffer + "\n  </button>\n</div>";
},"1":function(depth0,helpers,partials,data) {
  return "s";
  },"useData":true} ); })();