<h1>Todos</h1>

<div class="row-fluid">
  <input type="text" id="add-todo" placeholder="What do you need to do?" />
</div>
<div class="row-fluid">
  <div class="row-fluid span5">
    <input type="checkbox" id="mark-all" /><label for="mark-all"
      class="span4"><strong>Mark all as complete</strong></label>
  </div>

  <ul id="todo-list"></ul>

  <div id="todo-status" class="row-fluid"></div>
</div>
