<div class="row-fluid span5">
  <strong>{{remaining}}</strong> items left.
  <button id="remove-finished" class="btn btn-inverse">
    <i class="icon-ban-circle icon-white"></i> Clear <strong>{{finished}}</strong> completed item{{#unless
    oneFinished}}s{{/unless}}
  </button>
</div>


