input.button {
	background: url(/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png);
	background-image: url("/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png");
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png', sizingMethod='scale');
}
.multilineAndSpaces {
  background: 
     url( "/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png " );
  background-image : 
     url( "/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png " )     
}
@font-face {
    src: url(/?wroAPI=wroResources&id=classpath:ro/isdc/wro/resources/inner/inner/img/pinguin.png);
}
