div.import1b {
  color: red;
}

div.import1a {
  color: red;
}




div.import1 {
  color: red;
}

div.1 {
  background: url(../css/a/../image.png);
}div.3 {
  background: url(../css/a/b/c/../image.png);
}

div.2 {
  background: url(../css/a/b/../image.png);
}