div.1 {
  background: url(../css/a/../image.png);
}div.3 {
  background: url(../css/a/b/c/../image.png);
}@import url(css/css1/import1b.css);
@import url(css/import1.css);
div.2 {
  background: url(../css/a/b/../image.png);
}