.imageWithSrcAttribute {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[WRO-PREFIX]?id=classpath:../images/tabs/tabContent.png', sizingMethod='scale' );
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='[WRO-PREFIX]?id=classpath:images/tabs/tabContent.png',   sizingMethod='scale' )
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=  '[WRO-PREFIX]?id=classpath:images/tabs/tabContent.png',   sizingMethod='scale' );
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=  '[WRO-PREFIX]?id=classpath:images/tabs/tabContent.png',  
       sizingMethod='scale' );
    filter : progid:DXImageTransform.Microsoft.AlphaImageLoader(src=  '[WRO-PREFIX]?id=classpath:images/tabs/tabContent.png',  sizingMethod='scale' );
    filter : 
        progid:DXImageTransform.Microsoft.AlphaImageLoader(src=  '[WRO-PREFIX]?id=classpath:images/tabs/tabContent.png',   sizingMethod='scale' );
    color:red;
    background: url([WRO-PREFIX]?id=classpath:img.gif)
}
#outer {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
      src='[WRO-PREFIX]?id=classpath:images/transparent-border.png',
      sizingMethod='scale');
}
@font-face {
    src: url([WRO-PREFIX]?id=classpath:btn_icons.png);
}
.relativeImageBackgrounds {
    background: #B3B3B3 url([WRO-PREFIX]?id=classpath:img.gif);color:red;
    background: url([WRO-PREFIX]?id=classpath:img.gif);
    background: url([WRO-PREFIX]?id=classpath:folder/img.gif);
    background: url('[WRO-PREFIX]?id=classpath:folder/img.gif');
    background: url("[WRO-PREFIX]?id=classpath:folder/img.gif");
    background: url([WRO-PREFIX]?id=classpath:folder/folder/img.gif) top left;
    background: url([WRO-PREFIX]?id=classpath:../img.gif) repeat-x;
    background: url([WRO-PREFIX]?id=classpath:../../img.gif) no-repeat right;
    BACKGROUND-IMAGE: url([WRO-PREFIX]?id=classpath:../img1.gif);
    background-image: url([WRO-PREFIX]?id=classpath:../img.gif);
    background-image: 
     #555 url([WRO-PREFIX]?id=classpath:../img.gif);
    background-image: 
     url([WRO-PREFIX]?id=classpath:../img.gif);
    background:
        url([WRO-PREFIX]?id=classpath:../themes/andreas08/scripts/syntaxhighlighter-2/styles/wrapping.png)
        0 1.1em no-repeat !important;color:red;
}
.inline {background:#ffffff url('[WRO-PREFIX]?id=classpath:img_tree.png') no-repeat right top;}
.inlineMinimized {background:#ffffff url('[WRO-PREFIX]?id=classpath:img_tree.png') no-repeat right top;color:red;font-size:large;}.anotherClass{color:blue;background:#ffffff url('[WRO-PREFIX]?id=classpath:img_tree.png') no-repeat right top;}
.noQuotes {
    background-IMAGE: URL([WRO-PREFIX]?id=classpath:img.gif);
    background: url([WRO-PREFIX]?id=classpath:img.gif) red;
    background: url([WRO-PREFIX]?id=classpath:folder/img.gif) no-repeat right;
    background: url(http://www.google.com/);
}

.differentTypeOfQuotes {
    background: #B3B3B3 url("[WRO-PREFIX]?id=classpath:images/buttons/button_gry_bg.png") repeat-x 
        scroll 0 -1px;
    background: #B3B3B3 url('[WRO-PREFIX]?id=classpath:images/buttons/button_gry_bg.png') repeat-x
        scroll 0 -1px;
    background: #B3B3B3 url([WRO-PREFIX]?id=classpath:images/buttons/button_gry_bg.png) repeat-x
        scroll 0 -1px
}

.contextPathWithWhitespaces {
    background-image: url( "[WRO-PREFIX]?id=classpath:absolute/path/to/image1.png" );
    background-image: url( '[WRO-PREFIX]?id=classpath:absolute/path/to/image2.png' );
    background-image: url( [WRO-PREFIX]?id=classpath:absolute/path/to/image3.png );
    background-image: url( "[WRO-PREFIX]?id=classpath:absolute/path/to/image4.png");
    background-image: url( '[WRO-PREFIX]?id=classpath:absolute/path/to/image5.png');
    background-image: url( [WRO-PREFIX]?id=classpath:absolute/path/to/image6.png);
    background-image: url( "[WRO-PREFIX]?id=classpath:absolute/path/to/image7.png" );
    background-image: url( '[WRO-PREFIX]?id=classpath:absolute/path/to/image8.png' );
    background-image: url( [WRO-PREFIX]?id=classpath:absolute/path/to/image9.png );
    background-image: url("[WRO-PREFIX]?id=classpath:absolute/path/to/image10.png");
    background-image: url('[WRO-PREFIX]?id=classpath:absolute/path/to/image11.png');
    background-image: url("[WRO-PREFIX]?id=classpath:absolute/path/to/image11a.png" );
    background-image: url('[WRO-PREFIX]?id=classpath:absolute/path/to/image11b.png' );
    background-image: url([WRO-PREFIX]?id=classpath:absolute/path/to/image12.png);
}

.relativePathWithWhitespaces {
    background-image: url( "[WRO-PREFIX]?id=classpath:path/to/image.png" );
    background-image: url( '[WRO-PREFIX]?id=classpath:path/to/image.png' );
    background-image: url( [WRO-PREFIX]?id=classpath:path/to/image.png );
}

.specialCharacters {
    background-image: url( [WRO-PREFIX]?id=classpath:path/with/$pecial/character.png);
}
@font-face {
    font-family: 'Trade Gothic Condensed Bold';
    src: url('[WRO-PREFIX]?id=classpath:fonts/tradegothic-boldcondtwenty-webfont.eot');
    src: url('[WRO-PREFIX]?id=classpath:fonts/tradegothic-boldcondtwenty-webfont.eot?#iefix') format('embedded-opentype'),
    url('[WRO-PREFIX]?id=classpath:fonts/tradegothic-boldcondtwenty-webfont.woff') format('woff'),
    url('[WRO-PREFIX]?id=classpath:fonts/tradegothic-boldcondtwenty-webfont.ttf') format('truetype'),
    url('[WRO-PREFIX]?id=classpath:fonts/tradegothic-boldcondtwenty-webfont.svg#tradegothic-boldcondtwenty-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}