.class1 {
	background: url(img.gif);
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tabs/tabContent.png',sizingMethod='scale');
	background: url(folder/img.gif);
  background: url('folder/img.gif');
	background: url("folder/img.gif");
	background: url(folder/folder/img.gif) top left;
	background: url(../img.gif) repeat-x;
	background: url(../../img.gif) no-repeat right;
	BACKGROUND-IMAGE: url(../img1.gif);
	background-image: url(../img.gif);
}
.class2 {
	background-IMAGE: URL(/img.gif);
  background: url(/img.gif) red;
	background: url(/folder/img.gif) no-repeat right;
	background: url(http://www.google.com/);
}