.class1 {
  background: url(http://www.site.com/static/css/img.gif);
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.site.com/static/images/tabs/tabContent.png',sizingMethod='scale');
  background: url(http://www.site.com/static/css/folder/img.gif);
  background: url('http://www.site.com/static/css/folder/img.gif');
  background: url("http://www.site.com/static/css/folder/img.gif");
  background: url(http://www.site.com/static/css/folder/folder/img.gif) top left;
  background: url(http://www.site.com/static/img.gif) repeat-x;
  background: url(http://www.site.com/img.gif) no-repeat right;
  BACKGROUND-IMAGE: url(http://www.site.com/static/img1.gif);
  background-image: url(http://www.site.com/static/img.gif);
  background: url(http://www.site.com/static/themes/andreas08/scripts/syntaxhighlighter-2/styles/wrapping.png) 0 1.1em no-repeat !important;
}
.class2 {
  background-IMAGE: URL(http://www.site.com/static/css/img.gif);
  background: url(http://www.site.com/static/css/img.gif) red;
  background: url(http://www.site.com/static/css/folder/img.gif) no-repeat right;
  background: url(http://www.google.com/);
}

.inlineHelp {
  background:#B3B3B3 url("http://www.site.com/static/css/images/buttons/button_gry_bg.png") repeat-x scroll 0 -1px;
  background:#B3B3B3 url('http://www.site.com/static/css/images/buttons/button_gry_bg.png') repeat-x scroll 0 -1px;
  background:#B3B3B3 url(http://www.site.com/static/css/images/buttons/button_gry_bg.png) repeat-x scroll 0 -1px;
}