.imageWithSrcAttribute {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/static/images/tabs/tabContent.png',
    sizingMethod='scale' );
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/tabs/tabContent.png',
    sizingMethod='scale' );
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=  ' /images/tabs/tabContent.png ',
    sizingMethod='scale' );
}

.relativeImageBackgrounds {
  background: url(/static/img/img.gif);
  background: url(/static/img/folder/img.gif);
  background: url(/static/img/folder/img.gif);
  background: url(/static/img/folder/img.gif);
  background: url(/static/img/folder/folder/img.gif) top left;
  background: url(/static/img.gif) repeat-x;
  background: url(/img.gif) no-repeat right;
  BACKGROUND-IMAGE: url(/static/img1.gif);
  background-image: url(/static/img.gif);
  background:
    url(/static/themes/andreas08/scripts/syntaxhighlighter-2/styles/wrapping.png)
    0 1.1em no-repeat !important;
}

.noQuotes {
  background-IMAGE: URL(/img.gif);
  background: url(/img.gif) red;
  background: url(/folder/img.gif) no-repeat right;
  background: url(http://www.google.com/);
}

.differentTypeOfQuotes {
  background: #B3B3B3 url(/images/buttons/button_gry_bg.png) repeat-x
    scroll 0 -1px;
  background: #B3B3B3 url(/images/buttons/button_gry_bg.png) repeat-x
    scroll 0 -1px;
  background: #B3B3B3 url(/images/buttons/button_gry_bg.png) repeat-x
    scroll 0 -1px;
}

.contextPathWithWhitespaces {
  background-image: url(/absolute/path/to/image.png);
  background-image: url(/absolute/path/to/image.png);
  background-image: url(/absolute/path/to/image.png);
  background-image: url(/absolute/path/to/image.png);
  background-image: url(/absolute/path/to/image.png);
  background-image: url(/absolute/path/to/image.png);
}

.relativePathWithWhitespaces {
  background-image: url(/static/img/path/to/image.png);
  background-image: url(/static/img/path/to/image.png);
  background-image: url(/static/img/path/to/image.png);
}

.specialCharacters {
  background-image: url(/static/img/path/with/$pecial/character.png);
}