.parens {
  border: 2px solid black;
  margin: 1px 3px 16px 3px;
  width: 36px;
  padding: 2px 36px;
}
.more-parens {
  padding: 8px 4px 4px 4px;
  width: 96px;
  height: 113px;
  margin: 12px;
}
.nested-parens {
  width: 71px;
  height: 6px;
}
.mixed-units {
  margin: 2px 4em 1 5pc;
  padding: 6px 1em 2px 2px;
}
