/******************************************************************************/
/* Javascript enhancements                                                    */
/*                                                                            */
/* When saving this file, ENSURE that the encoding is UTF-8!                  */
/******************************************************************************/
.js-enabled .js-shown {
    display: block;  
}
.js-enabled .javascript-required .required {
    display: block;
}

.js-enabled .js-shown-inline {
    display: inline;	
}

.js-enabled .js-shown-inline-block {
    display: inline-block;
}

.js-enabled .course-details-preview .course-jump-links {
    display: block;	
}
.js-enabled .js-toggle-when-container,
html[xmlns] .js-enabled .js-toggle-when-container {
    display: none;
}

.js-enabled .toggle-content, .js-enabled .js-hidden,
html[xmlns] .js-enabled .js-hidden {
	display: none;
}

.js-enabled #browse-courses .course-container {
    overflow: hidden;
}
.js-enabled .partial-input .js-shown {
	padding-left: 6px;
	padding-right: 3px;
}

.js-enabled #unit-selection-form .loading-container {
    display: inline-block;
    height: 16px;
    width: 16px;
    vertical-align: middle; 
}
.js-enabled #unit-selection-form .loading .loading-container {
    background: url(../images/ajax-loader.gif) right center no-repeat;  
}

.js-enabled #browse-courses .courses-and-units-area-of-study {
    width: 443px;
    display: none;
    position: absolute;
}
.js-enabled #browse-courses .links a.current {
    background-image: url(../images/side-tab-grey.png);
    margin: 0;
    padding-left: 19px;
}
.js-enabled #browse-courses .course-container {
    height: 273px;	
}
.js-enabled #tabbed-unit-content-container {
    margin-top: 1.8em;
}
.js-enabled .tabbed-info-container .top-link-container a {
   	display: none;
}
.js-enabled .stream-details-container caption {
	cursor: pointer;   	
}
.js-enabled .course-details-preview .stream-details-container caption {
    cursor: auto;    
}
.js-enabled .stream-details-container {
    overflow: hidden;   
}
.js-enabled .stream-details-container .closed tbody, .js-enabled .stream-details-container .closed tfoot, .js-enabled .stream-details-container .closed thead {
   	display: none;
}
.js-enabled .stream-details-container .primary-info {
    background-repeat: no-repeat;
    background-position: 618px 8px;	
}

.js-enabled .study-planner .stream-details-container .primary-info {
    background-position: 895px 8px;	
}

.js-enabled .no-tabs .stream-details-container .primary-info {
	background-position: 654px 8px;	
}

.js-enabled .stream-details-container .primary-info {
    background-image: url(../images/expanded.png);
}
.js-enabled .closed .primary-info {
   	background-image: url(../images/not-expanded.png);
}
.js-enabled .course-details-preview .stream-details-container .primary-info, .js-enabled .course-details-extract .stream-details-container .primary-info {
	background-image: none !important;
}
.js-enabled .course-jump-links {
    display: none;
}
.js-enabled .tabbed-info-container .tabbed-column-container {
    padding: 16px 16px 0;
}

.js-enabled .tabbed-info-container {
    clear: both;
}

.js-enabled .collapse-all {
    background-image: url(../images/blue-down.png);
}

.js-enabled .expand-all {
    background-image: url(../images/blue-left.png);	
}

.js-enabled .collapse-all, .js-enabled .expand-all {
    margin: -63px 10px 6px;
    padding: 6px 20px 6px 6px;
    text-align: right;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    float:right;
}
.js-enabled .no-tabs .collapse-all, .js-enabled .no-tabs .expand-all {
	/* background-position: 895px 50%; */
}
.js-enabled .study-planner .collapse-all, .js-enabled .study-planner .expand-all {
	background-position: 895px 50%;
}

.js-enabled .unit-selector .collapse-all, .js-enabled .unit-selector .expand-all {
    border: none;
    float: right;
    background-position: right 50%;
    padding-right: 20px;
}

.js-enabled .next-and-previous-tab-clickers {
    position: relative;
    height: 2.4em;
}

.js-enabled .next-and-previous-tab-clickers .next {
    background-image: url(../images/goto.gif);   
    position: absolute;
    right: 0px;
    padding-right: 20px;
    background-position: right center;
    text-align: right;
    background-repeat: no-repeat;
}
.js-enabled .next-and-previous-tab-clickers .previous {
	background-image: url(../images/goback.gif);
	background-position: left center;
    padding-left: 20px;
    background-repeat: no-repeat;
}
.js-enabled .carousel {
    overflow: hidden;
    height: 257px;
    position: relative;
}

.js-enabled .carousel-selection {
	position: absolute;
	right: 20px;
	bottom: 6px;
	z-index: 2;
}

.js-enabled .carousel-selection li {
    float: left;
    list-style-type: none;
    margin: 0;
    width: 32px;
    overflow: hidden;
}
.js-enabled .carousel-selection li a {
    width: 29px;
    height: 31px;
    line-height: 29px;
    background-position: top left;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    font-size: 120%;
    background-image: url(../images/caro-off-blue.png);
    display: block;
    position: relative;
    left: 2px;
    top: 3px;
}

.js-enabled .carousel-selection li.current a, .js-enabled .carousel-selection li a:hover {
    background-image:   url(../images/caro-on-white.png);
    width: 32px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    color: #015AAD;
    font-size: 150%;
    left: 0;
    top: 0;
}

.js-enabled .carousel .marketing-feature {
   position: absolute;
   width: 960px;
}
.js-enabled .carousel-scroller {
    position: relative;
}

.js-enabled #tabbed-course-content-container, .js-enabled #tabbed-unit-content-container {
    display: none;
}
.js-enabled .toggle-off, .js-enabled .toggle-on {
    padding-bottom: 0;
}

.js-enabled .toggle-on {
    padding-left: 135px;
    padding-bottom: 0.6em;
}

.js-enabled .facetSelectionDescription, a.faq-title {
    display: block;
    outline: none;
}

.js-enabled .facetSelectionDescription .text {
	padding: 4px 5px;
}
.js-enabled .facet-form .expandable-heading {
    cursor: pointer;	
}

.js-enabled #advanced-search .facet-form .expandable-heading {
    cursor: auto;	
}

#advanced-search .facet-form fieldset {
    margin-top: 0;	
} 

.facet-form .white-bar-bottom {
	clear: left;
}

.js-enabled .facet-form .facet-list-container, .js-enabled #faq-data .faq-content {
    position: relative;
    top: -4px;
    background: white;
}

.faq-content .faq-content-inner {
	padding: 0.7em 0.5em 0.2em;
}

.js-enabled #advanced-search .facet-form .facet-list-container {
    top: auto;	
}

.js-enabled #search-faceting span.js-hidden {
    display: none;
}
.js-enabled .facet-form fieldset ol {
    background: url(../images/facet-line.png) center top no-repeat;
    padding-top: 0.2em;
}

.js-enabled .facet-form fieldset ol ol {
	background: none;
}
.js-enabled #provider-facets ol {	
    height: 180px;
    overflow-y: scroll;
}
#advanced-search #provider-facets ol {   
    height: auto;
    overflow-y: auto;
}

.js-enabled .facetSelectionDescription .text {
    background: url(../images/grey-down.png) 190px center no-repeat;
    padding-right: 30px;
}
.js-enabled .faq-title .text {
    background: url(../images/grey-down.png) 273px center no-repeat;
    padding-right: 35px;
}

.js-enabled #faq-data .expanded .faq-content {
    background: white url(../images/faq-line.png) center 3px no-repeat;
}

.js-enabled .drop-down-helper {
    padding-top: 3px;
}

.js-enabled #advanced-search .drop-down-helper {
    padding-top: 0;
}

acronym.available {
    cursor: default;
}
#tip {
    position: absolute;
    z-index: 100;
    background: url(../images/dropdown-tip.png) left top no-repeat;
    padding-right: 4px;
    height: 36px;
    white-space: nowrap;
    margin-top: 5px;
}
#tip p {
    line-height:34px;
    height: 36px;
    padding: 0 4px 0 10px;
    color: white;
}

#tip-corner {
    background: url(../images/dropdown-tip.png) right top no-repeat;
    position: absolute;
    height: 36px;
    width: 6px;
    top: 0px;
    right: -6px;
}   

#tip-arrow {
    position: absolute;
    background: url(../images/dropdown-tip-arrow.png) right bottom no-repeat;
    width: 13px;
    height: 7px;
    font-size: 0;
    z-index: 100;
}

.prerequisite {
	text-align: center;
}

.prerequisite .popup {
	display: none;
	position: absolute;
	z-index: 1;
	margin-left: -20em;
	text-align: left;
	max-width: 35em;
	
	background-color: white;
	border: solid thick black;
	padding: 1em;
}

.prerequisite:hover .popup {
	display: block;
}

.prerequisite ul {
	padding-bottom: 1em;
}

.js-enabled #restricted-course-form .next {
	display: block;
}

.js-enabled #restricted-course-form .prev {
	display: block;
}

.js-enabled #restricted-course-selection .partial-input {
	position: relative;
	display:none;
}
.js-enabled  #restricted-course-selection .selected .partial-input {
	display: block;	
}

.js-enabled #restricted-course-selection li .form-error {
	display: block;
}

.js-enabled #restricted-course-selection li.selected .form-error {
	display: block;
}
.js-enabled #restricted-course-selection li.selected .helper-text {
	display: block;	
}
.js-enabled #restricted-course-form .highlight { 
	background: #e3f3fe; 
}

.labeled-area .boolean-toggle-area {
	background: #fff; 
}

.js-enabled #restricted-course-form #restricted-course-selection .highlight { 
	background: transparent; 
}

#restricted-course-form #elective-unit-selection .partial-input {
	display: block;
}

.js-enabled .accordion-toggle {
    cursor: pointer;
}

.js-enabled .accordion-toggle:after {
    content: "▼";
    color: #fff;
    float: right;
    border-left: 1px solid #7ebbdc;
    padding-left: 13px;
    font-size: 18px;
} 

.js-enabled .accordion-toggle.in:after {
    content: "▲" !important;
}

.js-enabled .cart-warning-expander .accordion-toggle:after,
.js-enabled .cart-error-expander .accordion-toggle:after {
    content: none !important;
}

.js-enabled .accordion-toggle .message {
    font-size: 12px;
    position: absolute;
    right: 63px;
    top: 12px;
}

.js-enabled .cart-warning-expander .accordion-toggle .message,
.js-enabled .cart-error-expander .accordion-toggle .message {
    color: #000;
    top: 8px;
    position: static;
    margin-left: 14px;
}

.js-enabled .cart-warning-expander .accordion-toggle .message:after,
.js-enabled .cart-error-expander .accordion-toggle .message:after {
    content: "▼";
    color: #000;
    font-size: 12px;
    border-left: 0 none;
    padding-left: 3px;
}

.js-enabled .cart-warning-expander .accordion-toggle .in:after,
.js-enabled .cart-error-expander .accordion-toggle .in:after {content: "▲" !important;}

.js-enabled .accordion-toggle .in {
    display: none;
}

.js-enabled .accordion-toggle .out {
    display: inline;
}

.js-enabled .accordion-toggle.in .out {
    display: none;
}

.js-enabled .accordion-toggle.in .in {
    display: inline;
}

/******************************************************************************/
/* Autocomplete                                                               */
/******************************************************************************/
.search-container {
    position: relative;	
}
.ui-autocomplete {
	width: 417px;
}
.ui-menu-item {
    list-style-type: none;
    font-size: 90%;
}
.ui-menu-item .type {
    float: right;
    color: blue;
    display: inline-block;
    padding-right: 5px;
    font-size: 81%;
    line-height: 1.75;
}
.ui-menu-item .url {
    display: none;
}
.ui-menu-item .unitcode {
    text-transform: uppercase;
}
.search-container .prediction-box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    color: silver;
    border: none;
    padding: 0.2em;
    margin: 1px;
    background: white;
}
#search-box {
	position: relative;
    z-index: 2;
    background-color: transparent;
}

body .ui-widget,
body .ui-widget input,
body .ui-widget select,
body .ui-widget textarea,
body .ui-widget button {
	font-family: inherit;
}

.js-enabled #content-footer .secondary-providers {
	padding: 0 0 30px 0;
	margin: 0 123px 0 122px;
	height: 30px;
}

.js-enabled #content-footer .secondary-providers ul {
	overflow: hidden;
	position: relative;
	height: 30px;
}

.js-enabled #content-footer .secondary-providers li {
	position: absolute;	
}

.js-enabled #content-footer .secondary-providers {
	visibility: hidden;	
}

.js-enabled #content-footer .slider-arrow-left, .js-enabled #content-footer .slider-arrow-right {
	background: url(../images/footer-buttons.png) top left no-repeat;
	padding-top: 30px;
	width: 29px;
	overflow: hidden;
	display: block;
	height: 0;
	position: absolute;
	top: 0;
}
.js-enabled #content-footer .slider-arrow-left span, .js-enabled #content-footer .slider-arrow-right span {
	position: absolute;
	top: -50px;
	white-space: nowrap;
	left: -300px;
}
.js-enabled #content-footer .slider-arrow-left {
	left: -40px;
}
.js-enabled #content-footer .slider-arrow-right {
	background-position: top right;
	right: -40px;
}
.js-enabled #content-footer a.slider-arrow-left:hover {
	background-position: bottom left;
}
.js-enabled #content-footer a.slider-arrow-right:hover {
	background-position: bottom right;
}

.js-enabled form.australian .required-for-australians .required {
	display: block;
}

.js-enabled form .required-for-australians .required {
    display: block;
}

.js-enabled .js-small-modal {
    width: 430px;
    padding:  20px;
    overflow: hidden;
}
.js-enabled input.half-modal-width {
    width: 207px;
}
.js-enabled input.half-modal-width span.form-error {
    width: 213px;
}

.js-enabled #fancybox-content .half-width-column .form-field span.form-error {
    margin-left: 0 !important;
}

/******************************************************************************/
/* Live chat                                                                  */
/******************************************************************************/
.js-enabled #sidebar .chat-button-container {
	border-top: none;
	padding: 0 0 1em 0;
	margin: 0;
	display: block;
	padding-bottom: 1em;
}

.js-enabled .chat-button-container h4 {
    border-top: 1px solid #D9D9D9;
    margin-top: 0.6em;
    padding-top: 1em;
    text-align: left;
}
table.lpInviteChatTbl {
	margin-bottom: 3px;	
}

table.lpInviteChatTbl td, table.lpInviteChatTbl th {
	padding: 0;
}


.js-enabled #restricted-course-form { position:relative; padding-top:49px; }

.js-enabled #restricted-course-form div.head { border-top: 5px solid #333333; }
.js-enabled #restricted-course-form .accordion { border-bottom: 5px solid #333333; }

.js-enabled #restricted-course-form h2 {
	background: white;
	position:absolute;
	top:0;
	margin: 2px 2px 0 0;
    padding: 0;
	font-weight:bold;
	overflow:hidden;
	border-radius:7px 7px 0 0;
	-moz-border-radius:7px 7px 0 0;
	-webkit-border-radius:7px 7px 0 0;
	border:1px solid #aaa;
	border-bottom: none;
    height: 46px;
}
.js-enabled #restricted-course-form h2 a {
	font-size: 14px;
    height: 46px;
    line-height: 22px;
	padding: 2px 6px 0;
	color: #373737;
}
.js-enabled #restricted-course-form h2 .incomplete-count {
    font-size: 11px;
    display: block;
    color: #666;
    font-weight: normal;
}
.js-enabled #restricted-course-form h2.open .incomplete-count {
    color: #DDD;
}

.js-enabled #restricted-course-form h2.open {
	background: #373737;
}
.js-enabled #restricted-course-form h2.open a {
	color:white;
}

.js-enabled #restricted-course-form h2#section-1-title { left: 0; width: 145px; }
.js-enabled #restricted-course-form h2#section-2-title { left: 149px;  width: 139px; }
.js-enabled #restricted-course-form h2#section-3-title { left: 292px; width: 255px; }
.js-enabled #restricted-course-form h2#section-4-title { left: 551px; width: 184px;}
.js-enabled #restricted-course-form h2#section-5-title { left: 739px; width: 178px;}

.js-enabled #cspApplication h2#section-1-title { left:0; width:226px; }
.js-enabled #cspApplication h2#section-2-title { left:230px; width:226px; }
.js-enabled #cspApplication h2#section-3-title { left:460px; width: 227px; }
.js-enabled #cspApplication h2#section-4-title { left:691px; width:226px; }

.js-enabled .vet-form-tab-1 { width: 156px !important; left: 0 !important; }
.js-enabled .vet-form-tab-2 { width: 156px !important; left: 160px !important; }
.js-enabled .vet-form-tab-3 { width: 156px !important; left: 320px !important; }
.js-enabled .vet-form-tab-4 { width: 235px !important; left: 480px !important; }
.js-enabled .vet-form-tab-5 { width: 198px !important; left: 719px !important; }

.field-in-error {
    background:  #ffe0e0;
}



/******************************************************************************/
/* In Page table sorting (tablesorter.js)                                     */
/******************************************************************************/
.js-enabled table.tablesorter thead tr th, table.tablesorter tfoot tr th {
/*	background-color: #e6EEEE;*/
}
.js-enabled table.tablesorter thead tr .header .data-wrapper{
/*	background-image: url(bg.gif);*/
	cursor: pointer;
}
.js-enabled .tablesorter thead th .data-wrapper { margin-right:12px }
.js-enabled table.tablesorter tbody td {
	vertical-align: top;
}
.js-enabled table.tablesorter thead tr .headerSortUp .data-wrapper:after{
	content: url(../images/tablesort-up.png);
	float:right;
	margin-left:2px
}
.js-enabled table.tablesorter thead tr .headerSortUp .data-wrapper { margin-right:0; background-image:none;}
.js-enabled table.tablesorter thead tr .headerSortDown .data-wrapper { margin-right:0; background-image:none;}


.js-enabled table.tablesorter thead tr .headerSortDown .data-wrapper:after{
	content: url(../images/tablesort-down.png);
	float:right;
	margin-left:2px
}

.js-enabled table.tablesorter thead tr th {
	border-top: 1px solid #D9D9D9;
}

.js-enabled table.tablesorter thead  .headerSortDown, 
.js-enabled table.tablesorter thead  .headerSortUp {
	background-color: #E3F3FE;
	background-image:none;
}

/******************************************************************************/
/* Single Line Address lookup                                                 */
/******************************************************************************/

/* Hide oneline when no-js */
.location-search { display: none; }

/* If JS enabled, show single line */
.js-enabled .location-search { display: block; }
.js-enabled .location-full { display: none; }
.js-enabled .location-summary-search { display: block; }
.js-enabled .location-summary-display { display: none; }

/* Location selected so hide form */
.js-enabled .location-available > .location-summary-search { display:none; }
.js-enabled .location-available > .location-summary-display { display: block; }

/* Forced to multi-line */
.js-enabled .address-multiline .location-search { display: none; }
.js-enabled .address-multiline .location-full { display: block; }
.js-enabled .address-multiline .location-summary-search { display: none; }
.js-enabled .address-multiline .location-summary-display { display: block; }


.location-oneline { font-weight: bold; }

