@media print {

	#page-header, #navigation, #page-footer, #content-footer, .print-page, input, .conditions, #sidebar, .tab-clickers, .next-and-previous-tab-clickers, .site-area-heading, .jump-links-container, .top-link-container, #feature-container, .collapse-all, .expand-all {
    	display: none !important;
	}
	.tab-content {
    	display: block !important;  
	}
	* {
    	background-image: none !important;
	}
	#main-content, .edge-right, .edge-left {
    	width: auto;    
	}

	.tabbed-column-container, .breadcrumb span, .container-content, #main-content, .edge-right, .edge-left {
    	padding: 0 !important;  
    	margin: 0 !important;
	}
	.medium-logo, .university-icon {
    	padding: 0 !important;
    	height: auto !important;
	}
     
	#main-container, .edge-right, .edge-left, .site-area-heading, .breadcrumb, #feature-container, .tabbed-column-container  {
    	background-color: white;
    	padding-top: 0;
    	color: black;
    	border: none;
	}

	#page-header, #navigation, #feature-container, #main-container, #page-footer {
    	margin-left: 0;
	}
}